.cv {
  table {
    border: none;

    thead {
      border: none;
    }

    th {
      position: absolute;
      left: -1000;
      opacity: 0;
    }

    td {
      border: none;

      &:first-child {
        padding-left: 0;
        width: 7em;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  @media (max-width: $md) {

    table,
    td,
    tr {
      display: block;
    }

    td {
      padding: 0;
    }

    tr {
      margin-bottom: 1em;
    }
  }
}
